.header {
    display:flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 80px;
}

.nav-items{
    padding: 0px 20px;
}

.nav-items > ul {
    list-style-type: none;
    display: flex;
    font-size: 24px;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card{
    margin: 12px;
    padding: 5px;
    width: 250px;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.serach{
    padding: 10px;
}

.res-logo{
    width: 100%;
    height: 200px;
}

.filterBtn{
    padding: 10px;
}

.shimmer-container{
    display:flex;
    flex-wrap: wrap;
}

.shimmer-card{
    margin: 20px;
    width: 300px;   
    height: 450px;    
    background:rgb(240, 240, 240);
}

.login{
    padding:0 20px;
    width:80px;
}

.filterBtn{
    display: flex;
    cursor: pointer;
}

.search-btn{
   margin:0 5px 0 0;
}